/* Self-hosted Google Fonts */

/* Inter - Sans Serif */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/inter/inter-300.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inter/inter-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/inter/inter-500.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/inter/inter-600.ttf') format('truetype');
}

/* DM Mono - Monospace */
@font-face {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/dm-mono/dm-mono-300.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/dm-mono/dm-mono-400.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/dm-mono/dm-mono-500.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/dm-mono/dm-mono-italic-400.ttf') format('truetype');
}

/* DM Serif Display - Serif Display */
@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/dm-serif-display/dm-serif-display-400.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Serif Display';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/dm-serif-display/dm-serif-display-italic-400.ttf') format('truetype');
}

/* Lora - Serif */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/lora/lora-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/lora/lora-500.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/lora/lora-600.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/lora/lora-italic-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/lora/lora-italic-500.ttf') format('truetype');
}

/* Reenie Beanie - Handwriting */
@font-face {
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/reenie-beanie/reenie-beanie-400.ttf') format('truetype');
}
